@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn{
    background-image: linear-gradient(to right, theme("colors.primary"), theme("colors.tertiary"));
}

.color-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}